# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore system files
AppData/
.atom/
.vscode/
Downloads/
Documents/
Music/
Pictures/
Videos/
ntuser.*

# Ignore other irrelevant files and folders
java_error_in_*


node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
